
.order-main {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}


.sidebar {
    width: 260px;
}

.sidebar-title {
    color: #333333;
    font-size: 20px;
    margin-bottom: 24px;
}

.list-tag-item {
    color: #333;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 8px 10px 6px;
    line-height: 14px;
    margin: 0 10px 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.list-tag-item:hover {
    border-color: #007fc1;
    color: #007fc1;
}

.list-order {
    padding-right: 40px;
    width: calc(100% - 260px);
}

.item-order {
    display: flex;
    color: #333333;
    &:not(:last-child) {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ecedee;
    }
}

.image-order {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}

.desc-order {
    width: calc(100% - 270px);
    padding-right: 40px;
}

.price-order {
    width: 110px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
        font-size: 15px;
        margin-left: 6px;
    }
}

.name-order {
    display: inline-block;
    color: #333333;
    font-size: 20px;
    margin-bottom: 16px;
    &:hover {
        color: #007fc1;
    }
}

.short-text {
    display: block;
    font-size: 15px;
    margin-bottom: 16px;
    overflow: hidden;
    max-height: 52px;
}

.user-name {
    font-size: 14px;
    color: #464748;
}