* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #464748;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

app-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

img {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
}

.image-holder {
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.image-holder__img {
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

a {
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {

    color: #007fc1;
}

ul, figure {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

select {
    appearance: none;
}

select option[disabled] {
    display: none;
}

input {
    outline: none;
}

/*input:hover, input:focus {*/
    /*border: 1px solid #39a31f !important;*/
/*}*/

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input, textarea {
    outline: none;
    border-radius: 0;
    resize: none;
}

input:focus, textarea:focus, input:active, textarea:active, input:visited, textarea:visited {
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
    color: rgba(88, 91, 108, 0.5);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    background: inherit;
    transition: background-color 5000s ease-in-out 0s;
}

/*input {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
/*}*/

input[type='number'] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.btn {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #333333;
}

.btn:hover {
    background-color: #252525;
}

.btn-orange {
    background-color: #f6921e;
}

.btn-orange:hover {
    background-color: #e24d1e;
    color: #FFFFFF;
}

.btn-blue {
    background-color: #007fc1;
}

.btn-blue:hover {
    background-color: #025e8d;
    color: #FFFFFF;
}

@media (max-width: 860px) {
    .btn {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .btn {
        font-size: 14px;
        line-height: 34px;
    }
}

.d-none {
    display: none !important;
}


.image-preview {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.image-preview .image-holder {
    height: 100px;
    width: auto;
    margin-right: 20px;
}
.image-preview .image-holder__img {
    object-fit: contain;
    width: auto;
}

.ngx-gallery-preview-icons .ngx-gallery-icon {
    background-image: url("../img/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.ngx-gallery-icon-content.fa-arrow-circle-right {
    background-image: url("../img/icons/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.ngx-gallery-icon-content.fa-arrow-circle-left {
    background-image: url("../img/icons/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.ngx-gallery-arrow.ngx-gallery-disabled {
    opacity: 0.2;
}