
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    padding: 20px 0;
}

nav {
    width: 100%;
    border-top: 1px solid #ecedee;
    border-bottom: 1px solid #ecedee;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list__nav-item:not(:last-child) {
    margin-right: 60px;
}

.nav-list__nav-link {
    color: #bbbdbf;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    &.active {
        color: #007fc1;
    }
}

.footer {
    background-color: #333333;
    padding: 40px 0;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 860px) {
    .nav-list__nav-link {
        &:hover {
            color: #007fc1;
        }
    }
}

@media (max-width: 860px) {
    .logo {
        padding: 10px 0;
    }
    .nav-list__nav-item:not(:last-child) {
        margin-right: 20px;
    }
    .nav-list__nav-link {
        font-size: 18px;
        line-height: 22px;

    }

}

@media (max-width: 640px) {

    .header {
        flex-direction: row;
        padding: 0 20px;
    }

    nav {
        border: none;
    }

    .nav-list {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 0;
    }
    .nav-list__nav-item:not(:last-child) {
        margin-right: 0;
    }
}

@media (max-width: 440px) {

    .nav-list__nav-item:not(:last-child) {
        margin-right: 0;
    }

    .nav-list__nav-link {
        font-size: 16px;
    }
}