<header class="header">
	<a class="logo image-holder" routerLink="/home">
		<img class="image-holder__img" src="assets/img/logo.png" alt="">
	</a>
	<nav>
		<ul class="nav-list container">
			<li class="nav-list__nav-item">
				<a class="nav-list__nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
			</li>
			<li class="nav-list__nav-item">
				<a class="nav-list__nav-link" routerLink="customers" routerLinkActive="active">Заказы</a>
			</li>
			<li class="nav-list__nav-item">
				<a class="nav-list__nav-link" routerLink="masters" routerLinkActive="active">Предложения</a>
			</li>
			<li class="nav-list__nav-item">
				<a class="nav-list__nav-link" routerLink="create" routerLinkActive="active">Оформить заявку</a>
			</li>
		</ul>
	</nav>
</header>

<router-outlet></router-outlet>


<footer class="footer">
	<div class="conteiner">
		<p>footer</p>
	</div>
</footer>
