
.ngx-gallery-icon.ngx-gallery-arrow {
    width: 30px;
    height: 30px;
    background-color: #007fc1;
}

.ngx-gallery-action {
    background: red;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 99;
}