<form [formGroup]="form" novalidate (ngSubmit)="submitMasters()">
	<div class="form-title">Заполните данные для создания предложения</div>
  <div class="form-group">
    <label>Ваше предложение услуг (кратко).</label>
    <input class="form-control" name="title" formControlName="title"/>
    
    <div class="alert alert-danger"
         *ngIf="form.controls['title'].invalid && form.controls['title'].dirty">
      Обязательно для заполнения
    </div>
  </div>
  <div class="form-group">
    <label>Подробное описание Вашего предложения</label>
    <textarea class="form-control" rows="3" formControlName="text"></textarea>
    
    <div class="alert alert-danger"
         *ngIf="form.controls['text'].invalid && form.controls['text'].dirty">
      Обязательно для заполнения
    </div>
  </div>
  <div class="form-group">
    <label>Стоимость</label>
    <input class="form-control" name="price" type="number" formControlName="price"/>
    
    <div class="alert alert-danger"
         *ngIf="form.controls['price'].invalid && form.controls['price'].dirty">
      Укажите стоимость в грн.
    </div>
  </div>
  <div class="form-group">
    <label>Город</label>
    <input class="form-control" name="city" type="text" formControlName="city"/>
    
    <div class="alert alert-danger"
         *ngIf="form.controls['city'].invalid && form.controls['city'].dirty">
      Обязательно для заполнения
    </div>
  </div>
  
  <div class="form-group upload-wrap">
    <label>Фото</label>
    <app-upload (onChange)="addFileUrl($event)"></app-upload>
    <div class="image-preview">
      <div class="image-holder" *ngFor="let item of form.get('images')['controls']; let i = index;">
        <img class="image-holder__img" src="{{form.controls['images']['controls'][i].value.url}}">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <button class="btn" [disabled]="form.invalid || isLoading">
      Отправить
    </button>
  </div>
</form>