<div class="assistance" style="background-image: url(assets/img/baner-background.png)">
	<div class="container">
		<h1 class="section-title">Онлайн-сервис заказа услуг</h1>
		<div class="description-text">
			<p>Желаете найти специалистов для выполнения ваших задач или хотите стать одним из них?</p>
			<p>Разместите Ваше предложение прямо сейчас!</p>
		</div>
		<a class="btn btn-orange" routerLink="create">Оформить завку</a>
	</div>
</div>
<div class="how-it-works container">
	<ul class="list-step">
		<li class="item-step">
			<div class="icon-step">
				<img src="assets/img/icons/interview.svg" alt="">
			</div>
			<div class="name-step">Создайте задание</div>
			<div class="desc-step">Опишите, что и когда нужно сделать</div>
		</li>
		<li class="item-step">
			<div class="icon-step">
				<img src="assets/img/icons/team.svg" alt="">
			</div>
			<div class="name-step">Выберите специалиста</div>
			<div class="desc-step">Выберите компетентного специалиста для вашей задачи</div>
		</li>
		<li class="item-step">
			<div class="icon-step">
				<img src="assets/img/icons/conversation.svg" alt="">
			</div>
			<div class="name-step">Закройте задание</div>
			<div class="desc-step">Оставьте отзыв и оценку исполнителю</div>
		</li>
	</ul>
</div>
<div class="make">
	<div class="container">
		<div class="make-title">Заработайте на том, что делаете лучше всех.</div>
		<a class="btn btn-blue" routerLink="create">Стать мастером</a>
	</div>
</div>