.assistance {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 134px 0;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.section-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    line-height: 54px;
}

.description-text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 10%;
}

.how-it-works {
    margin-bottom: 80px;
}

.list-step {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-step {
    width: 33.33%;
    text-align: center;
    padding: 0 20px;
}

.icon-step {
    height: 120px;
    margin-bottom: 12px;
}

.name-step {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #464748;
}

.desc-step {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    color: #464748;
}

.make {
    margin-bottom: 80px;
}

.make .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 22px;
    color: #464748;
}

@media (max-width: 860px) {

    .assistance {
        padding: 80px 0;
    }

    .section-title {
        font-size: 40px;
        line-height: 40px;
    }

    .description-text {
        font-size: 20px;
    }

    .name-step {
        font-size: 20px;
    }

    .desc-step {
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    .assistance {
        padding: 60px 0;
        margin-bottom: 40px;
    }

    .section-title {
        font-size: 32px;
        line-height: 34px;
        margin: 20px 0;
    }

    .description-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .name-step {
        font-size: 18px;
    }

    .desc-step {
        font-size: 14px;
    }
     .item-step {
         padding: 0 5px;
     }
}

@media (max-width: 440px) {
    .assistance {
        padding: 40px 0;
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 28px;
        line-height: 30px;
        margin: 10px 0;
    }

    .description-text {
        font-size: 16px;
        padding: 0;
    }

    .name-step {
        font-size: 16px;
    }

    .desc-step {
        font-size: 14px;
    }
     .item-step {
         padding: 0;
     }

    .list-step {
        flex-wrap: wrap;
    }
    .item-step {
        width: 100%;
        max-width: 320px;
    }

    .icon-step {
        height: 100px;
    }
}