<div class="form-wrapper">
	<a class="btn-back" routerLink="/home">На Главную</a>
	<div class="formAuth" *ngIf="showAuthForm == 'login'">
		<!-- Login Form -->
		<div class="title-form">Вход</div>
		<form [formGroup]="loginForm">
			
			<input type="text" placeholder="Email" name="username" formControlName="email" class="form-control"
				   [ngClass]="{ 'is-invalid': loginForm.get('email').dirty && loginForm.get('email').invalid }"/>
			<div *ngIf="loginForm.get('email').dirty && loginForm.get('email').invalid" class="invalid-feedback">
				<p>Username is required</p>
			</div>
			
			<input type="password" placeholder="Пароль" formControlName="password" class="form-control"
				   [ngClass]="{ 'is-invalid': loginForm.get('password').dirty && loginForm.get('password').invalid }"/>
			<div *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid" class="invalid-feedback">
				<p>Password is required</p>
			</div>
			<button type="submit" (click)="signIn()" [disabled]="loading">войти</button>
		</form>
		
		
		<div class="formFooter">
			<a class="underlineHover" href="#">Забыли пароль?</a>
			<span class="underlineHover" (click)="showAuthForm = 'signup'">Регистрация</span>
		</div>
	
	</div>
	
	<div class="formAuth" *ngIf="showAuthForm == 'signup'">
		<div class="title-form">Регистрация</div>
		<!-- SignUp Form -->
		<form [formGroup]="signupForm">
			<input type="text" placeholder="Имя" formControlName="name" class="form-control"
				   [ngClass]="{ 'is-invalid': signupForm.get('name').dirty && signupForm.get('name').invalid }"/>
			<div *ngIf="signupForm.get('name').dirty && signupForm.get('name').invalid" class="invalid-feedback">
				<p>Ведите имя</p>
			</div>
			
			<input type="text" placeholder="Фамилия" formControlName="surname" class="form-control"
				   [ngClass]="{ 'is-invalid': signupForm.get('surname').dirty && signupForm.get('surname').invalid }"/>
			<div *ngIf="signupForm.get('surname').dirty && signupForm.get('surname').invalid" class="invalid-feedback">
				<p>Ведите фамилию</p>
			</div>
			
			<input type="text" placeholder="Email" formControlName="email" class="form-control"
				   [ngClass]="{ 'is-invalid': signupForm.get('email').dirty && signupForm.get('email').invalid }"/>
			<div *ngIf="signupForm.get('email').dirty && signupForm.get('email').invalid" class="invalid-feedback">
				<p>Ведите ваш email</p>
			</div>
			
			<input type="password" placeholder="Пароль" formControlName="password" class="form-control"
				   [ngClass]="{ 'is-invalid': signupForm.get('password').dirty && signupForm.get('password').invalid }"/>
			<div *ngIf="signupForm.get('password').dirty && signupForm.get('password').invalid" class="invalid-feedback">
				<p>Укажите пароль</p>
			</div>
			<button type="submit" (click)="signUp()" [disabled]="loading">создать</button>
		</form>
		
		
		<div class="formFooter">
			<a class="underlineHover" href="#">Забыли пароль?</a>
			<span class="underlineHover" (click)="showAuthForm = 'login'">Вход</span>
		</div>
	
	</div>
	
</div>

<button type="button" (click)="logout()" style="display: none">выйти</button>

<simple-notifications></simple-notifications>
