
.create-order {
    padding-top: 40px;
}


.btn-checked {
    font-size: 18px;
    display: inline-block;
    margin-right: 40px;
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
    position: relative;
    margin-bottom: 40px;
}

.btn-checked.active {
    border-color: #007fc1;
}
